html,
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
}
body {
  display: flex;
}
#form-login {
  border-radius: 15px;
  border: 1px solid #80ff80;
  margin: auto;
}
.container {
  padding: 15px;
}
input[type="text"],
input[type="password"] {
  background-color: #d9d9d9;
  width: 100%;
  padding: 10px;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 15px;
  border: none;
  color: #00ff00;
}
button {
  background-image: linear-gradient(to bottom, #006622, #4dff88);
  color: white;
  padding: 14px 40px;
  text-align: center;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}
.buttonHolder {
  text-align: center;
}
button:hover {
  opacity: 0.7;
}
#parent {
  display: table;
  width: 100%;
}
h2 {
  color: #008000;
  text-align: center;
}
.required label:after {
  content: " *";
  color: black;
}
.buttonAndText {
  display: inline-block;
  vertical-align: bottom;
  margin: 10px auto;
  text-align: center;
}
